@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

html {
  background-color: rgb(255, 255, 255);
}